#app{
  min-width: 630px;
}

h1.title {
  font-weight: 900;
  font-size: 45px;
  margin-bottom: 15px;
}

div.container {
  max-width: 800px;
  margin: 0 auto;
}

p.error {
  border: 1px solid #ff5b5f;
  background-color: #ffc5c1;
  padding: 10px;
  margin-bottom: 15px;
}

div.poem {
  position: relative;
  border: 1px solid #5bd658;
  background-color: #bcffb8;
  padding: 10px 10px 30px 10px;
  margin: 20px;
}

div.poems-container {
  display: flex;
  flex-direction: column-reverse;
}

div.created-at {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 5px 15px;
  background-color: darkgreen;
  color: white;
  font-size: 13px;
}

p.text {
  font-size: 22px;
  font-weight: 700;
  padding: 30px;
}

div.date-and-delete {
  display: flex;
  justify-content: space-between;
}

p.delete-button {
  cursor: pointer;
  transition: all .3s;
  margin-left: 5px;
}

p.delete-button:hover {
  color: grey;
  transition: all .3s;
}

p.edit-button {
  cursor: pointer;
  transition: all .3s;
  margin-left: 5px;
}

p.edit-button:hover {
  color: grey;
  transition: all .3s;
}

div.user-inputs {
  display: flex;
  font-weight: 900;
}

label.user-input-label {
  margin-top: 15px;
  margin-bottom: 15px;
}

input.user-input {
  margin: 7px;
  width: 77%;
  height: 30px;
  border: none;
  border: 1px solid rgba(211, 211, 211, .3);
  border-radius: 4px;
  box-shadow: -3px 0px 16.5px 1.1px rgba(0, 0, 0, 0.05);
  padding-left: 5px;
  font-family: inherit;
}

button.submit-button {
  width: 145px;
  height: 43px;
  border-radius: 5px;
  background-color: #41b46a;
  color: white;
  font-size: 14.5px;
  font-weight: 900;
  text-align: center;
  opacity: .5;
  cursor: pointer;
  transition: all .3s;
}

button.submit-button:hover {
  opacity: 1;
  transition: all .3s;
}

ul.error-list {
  margin-bottom: 15px;
}

li.error {
  color: red;
}

div.edit-and-delete {
  display: flex;
}